<nav  class="navbar navbar-expand-lg" style="background: #e5e9eb; height: 85px;" dir="rtl">
  <div *ngIf="Auth" class="container-fluid d-flex justify-content-between align-items-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="../../assets/tkamol5.png" alt="" style="height: 50px; width: 130px; margin-right: 3px; margin-left: 4px;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/Home']"><strong>الصفحة الرئيسية</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Reservation']">اضافة حجز جديد</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Accounts']">لوحة تحكم الحسابات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Services']">لوحة تحكم الخدمات</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            لوحات تحكم أخرى
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/Centers']">لوحة تحكم المراكز</a></li>
            <li><a class="dropdown-item" [routerLink]="['/Rooms']">لوحة تحكم القاعات</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item" >
          <a class="nav-link p-lg-2"   (click)="exit()" [routerLink]="['/login']">خروج</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
