
<div class="Contener"  style="width: 90%; margin: 0 auto; border: 1px solid; padding: 5px;" > 
  <div class="d-flex">
    <button style="margin:10px;" class="btn btn-success mb-2 "data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="add()">اضافة مركز جديد</button>
  </div>
<hr>
  <table  datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger" class="row-border hover" class="table table-striped mx-auto" >
    <thead>
      <tr>
       
        <th scope="col">اسم المركز</th>
        <th scope="col">موقع المركز</th>
        <td>العمليات</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Center of AllCenter; let i = index">
        
        <td>{{Center.name}}</td>
        <td>{{Center.location}}</td>
        <td>
          <a  class="btn btn-success btn-sm mx-3"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="IntilizeFormFormEdit(Center,i)">تعديل</a>
          <a  class="btn btn-danger btn-sm" (click)="deleteCenter(Center,i)">حذف</a>
      </td>
      </tr>
    
    </tbody>
  </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color:rgb(74, 74, 206);"  class="modal-header">
        <h5 style="color: aliceblue; font-size: 26px; margin-left: 62px; font-weight: 620;" class="modal-title" id="exampleModalLabel"><p *ngIf="showadd"> اضافة مركز جديد</p> <p *ngIf="showupdate">تعديل بيانات مركز</p></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" >
          <div class="form-outline mb-4">

            <input type="text" id="typeNameX-2" class="form-control form-control-lg" placeholder="Name" formControlName="name"  style="background:#d1dbdbdd;"/>
            <span class="text-danger"  *ngIf="formGroup.get('name')?.errors?.['required']&&formGroup.get('name')?.touched">Required</span>
            <span class="text-danger"  *ngIf="formGroup.get('name')?.errors?.['pattern']&&formGroup.get('name')?.touched">The name must be a string of characters </span>
          </div>

          <div class="form-outline mb-4">

            <input type="text" id="typeJobX-2" class="form-control form-control-lg" placeholder="location" formControlName="location"  style="background:#d1dbdbdd;"/>
            <span class="text-danger"  *ngIf="formGroup.get('location')?.errors?.['required']&&formGroup.get('location')?.touched">Required</span>
            <span class="text-danger"  *ngIf="formGroup.get('location')?.errors?.['pattern']&&formGroup.get('location')?.touched">The name must be a string of characters </span>

          </div>
          
          <hr class="my-4">

        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
        <button *ngIf="showadd" type="button" (click)="AddNewCenter()" class="btn btn-success " >حفظ</button>
        <button *ngIf="showupdate" type="button" (click)="UpdatCenter()" class="btn btn-primary" [disabled]="!formGroup.valid" >تحديث</button>
      </div>
    </div>
  </div>
</div>
