
<div class="Contener"  style="width: 90%; margin: 0 auto; border: 1px solid; padding: 5px;" > 
  <div class="flex-column">
    <button style="margin:10px;" class="btn btn-success mb-2 "data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="add()">اضافة حساب </button>
  </div>
<hr>
  <table  datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger" class="row-border hover" class="table table-striped mx-auto"  >
    <thead >
      <tr>
        <th scope="col">الجهة</th>
        <th scope="col">الرصيد</th>
        <th>العمليات</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Account of AllAccounts; let i = index">
      
        
        <td>{{Account.accountName}}</td>
        <td>{{Account.totalBalance|currency:'USD':'symbol-narrow'}}</td>
        <td>
          <a  class="btn btn-secondary btn-sm mx-3"data-bs-toggle="modal" data-bs-target="#ModalForAddPayment" (click)="IntilizeFormForAddPayment(Account,i)">اضافة دفعة</a>
          <a  class="btn btn-success btn-sm mx-3"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="IntilizeFormFormEdit(Account,i)">تعديل حساب</a>
          <a  class="btn btn-danger btn-sm" (click)="deleteAccount(Account,i)">حذف</a>
      </td>
      </tr>
    
    </tbody>
  </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color: rgb(74, 74, 206);"  class="modal-header">
        <h5 style="color: aliceblue; font-size: 26px; margin-left: 62px; font-weight: 620;" class="modal-title" id="exampleModalLabel"><p *ngIf="showadd"> اضافة حساب جديد</p> <p *ngIf="showupdate">تعديل بيانات حساب</p></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" >
          <div class="form-outline mb-4">
            <label class=" align-items-center">الحساب</label>
           <input type="text" id="typeNameX-2" class="form-control form-control-lg" placeholder="Name" formControlName="accountname"  style="background:#d1dbdbdd;" />
            <span class="text-danger"  *ngIf="formGroup.get('accountname')?.errors?.['required']&&formGroup.get('accountname')?.touched">Required</span>
            <span class="text-danger"  *ngIf="formGroup.get('accountname')?.errors?.['pattern']">The name must be a string of characters </span>
          </div>

          <div class="form-outline mb-4">
            <label *ngIf="hidebalanceFromUpdata" class=" align-items-center">الرصيد</label>
            <input *ngIf="hidebalanceFromUpdata"  type="number" id="typeJobX-2" class="form-control form-control-lg" placeholder="balance" formControlName="totalbalance"  style="background:#d1dbdbdd;"/>
            <span class="text-danger"  *ngIf="formGroup.get('totalbalance')?.errors?.['required']&&formGroup.get('accountname')?.touched">Required</span>
          

          </div>
          
          <hr class="my-4">

        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
        <button *ngIf="showadd" type="button" (click)="AddNewAccount()" class="btn btn-success " >حفظ</button>
        <button *ngIf="showupdate" type="button" (click)="UpdataAccount()" class="btn btn-primary" [disabled]="!formGroup.valid" >تحديث</button>
      </div>
    </div>
  </div>
</div>

<!--  model for add payment -->
<div class="modal fade" id="ModalForAddPayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color: blue;"  class="modal-header">
        <h5 style="color: aliceblue; font-size: 26px; margin-left: 62px; font-weight: 620;" class="modal-title" id="exampleModalLabel">اضافة دفعة </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" >
        

          <div class="form-outline mb-4">
           
            <input  type="number" id="typeJobX-2" class="form-control form-control-lg" placeholder="Add Paid her" formControlName="totalbalance"/>
            <span class="text-danger"  *ngIf="formGroup.get('totalbalance')?.errors?.['required']&&formGroup.get('totalbalance')?.touched">Required</span>
          

          </div>
          
          <hr class="my-4">

        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">اغلاق</button>
        <button  type="button" (click)="addPyment()" class="btn btn-success "   >حفظ الدفعة</button>

      </div>
    </div>
  </div>
</div>

